@{
    ViewBag.Title = "Dashboard";
}

<div id="outer" class="text-center vertical-center">
    <div id="inner" class="col">
        <h1 class="mb-2 display-4">Welcome to DaVenti E-Bookstore!</h1>
        <blockquote class="blockquote">
            <p class="mb-2">We Provides a Variety of Quality and Complete Books</p>
            <footer class="blockquote-footer"><cite title="Source Title">Visit Here!</cite></footer>
        </blockquote>
    </div>
</div>